<div class="wrap">
  <h1><span class="spc">Sand Point Child</span><span class="dc">Development Center</span></h1>
  <form action="/contact" method="POST">
    <fieldset>
      <h2>Waitlist Enrollment Form</h2>
      <div class="input_field">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
      </div>
      <div class="input_field">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
      </div>
      <div class="input_field">
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone">
      </div>
      <input type="submit" value="Send">
    </fieldset>
  </form>
</div>