<section class="enrichments">
	<div class="content_wrap">
		<h2>Curriculum Enrichment at SPCDC</h2>
		<ul class="sections">
			<li><a href="#Spanish" class="section">Spanish</a></li>
			<li><a href="#swimming" class="section">Swimming</a></li>
			<li><a href="#creative_dance" class="section">Creative Dance</a></li>
		</ul>
		<div class="viewport">
			<section id="Spanish" class="ces">
				<h3>Spanish <span class="tuition">(included in tuition)</span></h3>
				<h4>Tuesdays:</h4>
				<ul>
					<li><span class="schedule">10:00 - 10:30</span> Preschoolers</li>
					<li><span class="schedule">10:30 - 11:00</span> Young Preschoolers</li>
					<li><span class="schedule">11:00 - 11:30</span> Toddlers</li>
				</ul>
				<p>
					Our Spanish lessons are provided by <a href="http://www.spongeschool.com/" class="section_link">sponge</a>. Classes are taught completely in Spanish by native-speaking teachers. The children engage in developmentally appropriate games and activities and learn through music, movement, drama, and art.
				</p>
			</section>
			<section id="swimming" class="ces">
				<h3>Pre-schooler's Swim Program <span class="tuition">(additional fees apply)</span></h3>
				<h4>Thursdays</h4>
				<ul>
					<li><span class="schedule">11:30 - 12:00</span> Preschoolers</li>
				</ul>
				<p>
					Our preschool class participates in a swim program during the school year (September through May). The class travels off sight to <a href="http://www.seattle.gov/parks/aquatics/meadowbrookpool.htm" class="section_link">Meadowbrook Pool</a>, adjacent to the Meadowbrook Community Center.
				</p>
			</section>
			<section id="creative_dance" class="ces">
				<h3>Creative Dance <span class="tuition">(included in tuition)</span></h3>
				<h4>Mondays:</h4>
				<ul>
					<li><span class="schedule">&nbsp;&nbsp;9:30 - 10:05</span> Preschoolers</li>
					<li><span class="schedule">10:10 - 10:45</span> Young Preschoolers</li>
					<li><span class="schedule">10:50 - 11:25</span> Toddlers</li>
				</ul>
				<p>
					Ingrid Hurlen, our creative dance instructor, has been a well-loved teacher of creative dance for all ages since 1987. She holds a Bachelor of Arts degree in Theater Arts from Lone Mountain College in San Francisco. She has trained with Anne Green Gilbert in numerous Summer Dance Institutes for Teachers at the <a href="http://creativedance.org/" class="section_link">Creative Dance Center</a>. She is on staff in the Early Childhood Education program at Edmonds Community College teaching "Movement, Music, and Singing with Children" to preschool educators.
				</p>
				<p>
					She is also a certified InterPlay facilitator, helping build community through movement, story, and song, mentoring others and their creative growth. An accomplished performer, her dance / theater works have been produced in San Francisco and Seattle. She continues to perform as a dancer with the family music ensemble <a href="http://www.tickletunetyphoon.com/" class="section_link">The Tickle Typhoon</a>.
				</p>
			</section>
		</div>
		<div><a href="enrollment" class="cta">Learn about enrollment</a></div>
	</div>
</section>