<div class="directions_info">
	<div class="instructions">
		<h2>How to get to SPCDC</h2>
		<h3>From I-5:</h3>
		<p>
			<span class="direction_from">South of the ship canal:</span> From north I-5 take Exit 168B (520-Bellevue) and get off on the 1st exit (University of Washington.) The off-ramp leads to a light at Montlake Blvd. Take a left and follow Montlake over the drawbridge, past Husky Stadium until it merges with NE 45th St. (see below starting with "Stay on 45th"
		</p>
		<p>
			<span class="direction_from">North of the ship canal:</span> From south I-5 take Exit 169 to go east on NE 45th St. through the University District and down the viaduct.
		</p>
		<p>
			Stay on 45th past University Village. After about 3 lights, the main arterial jobs left/northeast. Take this soft left onto Sand Point Way NE. Continue through the light at City People's and the light at Windermere Rd. At this point you'll be able to see SPCDC's big red sign on the right, 2 blocks away. Park in the gravel lot on 55th Ave NE.
		</p>
		<p>
			<span class="note">Note about coming from the northeast:&nbsp;&nbsp;</span> Since there's an impassable median out front of SPCDC, you'll either have to turn early onto 56th Avenue NE and go around the block (2 right turns) to park in our lot on 55th, or go past and do a U-turn to approach from the southwest.
		</p>
		<p>
			Our neighbors do appreciate our using the lot on 55th Avenue rather than taking up parking space along 56th.
		</p>
	</div>
	<div id="map"></div>
	<p class="g_directions">
		You can also get Google's turn-by-turn <a href="http://maps.google.com/maps?&q=to:+5837+56th+Avenue+NE,+Seattle,+WA">directions</a>.
	</p>
</div>