<img src="at_SPCDC.jpg" alt="Reading at SPCDC" title="Reading at SPCDC" class="enrollment" />
<section class="wait_list_application">
	<h2>Applying and Enrolling at SPCDC</h2>
	<div class="waitlist_info">
		<p class="application">Prospective parents should fill out our <a href="contact">Wait List Application</a> and mail it to:</p>
		<div class="address">5837 56th Avenue NE Seattle, WA 98105</div>
		<p>
			We strongly recommend  you get on the wait list at least 6 months prior to your desired start date. Due to our small class sizes, the list of those desiring to enroll often exceeds our capacity. Priority for filling enrollment vacancies is as follows:
		</p>
		<ol>
			<li><span class="priority">Currently enrolled students looking to add/change days</span></li>
			<li><span class="priority">Siblings</span></li>
			<li><span class="priority">Returning families</span></li>
			<li><span class="priority">Wait list applicants</span></li>
		</ol>
		<p>There is a non-refundable wait list application fee of $25. Upon enrollment there is a one time registration fee of $150 as well as an annual materials fee of $150 in September.
		</p>
	</div><!-- END .waitlist_info -->
	<a href="directions" class="cta">Get directions here</a>
</section>
<section  class="sizes_openings">
	<table>
		<caption>Classroom Sizes and Openings</caption>
		<thead>
			<tr>
				<th scope="col" class="nobg">Class</th>
				<th scope="col">Age</th>
				<th scope="col" class="class_size">Average Size</th>
				<th scope="col" class="class_size">Max Size</th>
				<th scope="col">Openings</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">Toddler</td>
				<td>18 mo. - 3 yrs</td>
				<td class="class_size">5</td>
				<td class="class_size">6</td>
				<td>One full-time or some part-time openings fall 2011</td>
			</tr>
			<tr class="alt">
				<td scope="row">Young Pre-K</td>
				<td>3 - 4 yrs</td>
				<td class="class_size">6</td>
				<td class="class_size">7</td>
				<td>One full-time and one part-time opening fall 2011</td>
			</tr>
			<tr>
				<td scope="row">Pre-K</td>
				<td>4 - 5 yrs</td>
				<td class="class_size">8</td>
				<td class="class_size">9</td>
				<td>One full-time opening fall 2011</td>
			</tr>
		</tbody>
	</table>
</section>
<section class="monthly_tuition">
	<table>
		<caption>2011 / 2012 Monthly Tuition*</caption>
		<thead>
			<tr>
				<td class="nobg"></td>
				<th scope="col" class="cost">Toddler</th>
				<th scope="col" class="cost">Young Pre-K</th>
				<th scope="col" class="cost">Pre-K</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">Full Time (5 days)</td>
				<td class="cost toddler">$1,300</td>
				<td class="cost">$1,155</td>
				<td class="cost">$1,092</td>
			</tr>
			<tr class="alt">
				<td scope="row">3 days</td>
				<td class="cost toddler">$954</td>
				<td class="cost">$843</td>
				<td class="cost">$793</td>
			</tr>
			<tr>
				<td scope="row">2 days</td>
				<td class="cost toddler">$670</td>
				<td class="cost">$593</td>
				<td class="cost">$560</td>
			</tr>
		</tbody>
	</table>
	<p><span class="footnote">*</span>&nbsp;Confirm all rates with <a href="mailto:spcdckids@gmail.com">SPCDC</a>: 206.522.2827</p>
</section>
<section class="drop_in_fees">
	<table>
		<caption>Drop-in Fees</caption>
		<thead>
			<tr>
				<td class="nobg"></td>
				<th scope="col" class="cost">Toddler</th>
				<th scope="col" class="cost">Young/Pre-K</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">Full Day</td>
				<td class="cost toddler">$60</td>
				<td class="cost">$50</td>
			</tr>
			<tr class="alt">
				<td scope="row">
					<p>Half Day</p>
					<div class="half_days">
						<p>Morning (7:15am - 12:15pm)</p>
						<p>or Afternoon (12:30pm - 6:00pm)</p>
					</div>
				</td>
				<td class="cost toddler">$30</td>
				<td class="cost">$25</td>
			</tr>
		</tbody>
	</table>
</section>