<img src="painting.jpg" alt="painting" class="home" />
<section class="about">
	<h2>SPCDC is a small childcare center situated in a remodeled, single-family house in the Sand Point neighborhood of northeast Seattle.</h2>
	<p>
		Established in 1986, we are a non-profit corporation with school policies set by our board of parents. We are licensed for 22 children ages 18 months to 6 years, and keep a <a href="enrollment">waiting list</a> for future openings. Due to our emphasis on low teacher-child ratios, openings are limited.
	</p>
	<p>
		What makes Sand Point Child Development Center so special is our small size and the joy of staff, children, and parents working closely with one another to create a warm, quality environment for learning to take place.
	</p>
	<p>
		If you have questions, would like more information, or would like a tour, please contact our <a href="mailto:spcdckids@gmail.com">director</a> at 206.522.2827.
	</p>
	<a href="philosophy" class="cta">Learn more about us</a>
</section>