<div class="wrap">
  <h1>404</h1>
  <h2>Page not found.</h2>
  <p>You've attempted to reach a page that doesn't exist on spcdc's website.</p>
  <nav>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="philosophy">Philosophy</a></li>
      <li><a href="teachers">Teachers</a></li>
      <li><a href="curriculum">Curriculum</a></li>
      <li><a href="enrollment">Enrollment</a></li>
      <li><a href="directions">Directions</a></li>
    </ul>
  </nav>
</div>