<section class="growing">
	<img src="finding_worms.jpg" alt="Exploring where worms live" title="Exploring where worms live" />
	<div class="overlay">
		<h2>Helping children grow</h2>
		<p>
			At SPCDC children are safe, stimulated, appreciated, and receive the respect they deserve. Our program allows children to learn and grow at their own pace by providing them with activities and interaction appropriate to their development. We aspire to help children be responsible, self-confident, and sensitive to the needs of others. We encourage them to be imaginative and ask questions, to speak and listen well, to analyze problems creatively, and develop self-help skills.
		</p>
	</div>
</section>
<section class="activities">
	<img src="sand_play.jpg" alt="Playing in the sand" title="Sand sensory table" />
	<div class="overlay">
		<h2>Through a child's eye</h2>
		<p>
			Children provide the cues to learning. At SPCDC, we look at the interests of the children and provide activities and opportunities to meet those interests. Some of our hands-on, developmentally appropriate activities include:
		</p>
		<ul>
			<li>Tactile play, such as sand and water play and sensory tables</li>
			<li>Process-oriented art projects that focus on the doing</li>
			<li>Circle time with sharing, singing, stories, and flannel-board activities</li>
			<li>Real life adventures such as field trips, gardening, baking, and swimming lessons</li>
			<li>Dramatic play with monthly themes such as outer space, jungles, bakery, or grocery store</li>
			<li>Math-their-way: a hands-on approach to basic math concepts for our pre-K children.</li>
		</ul>
	</div>
</section>
<section class="community">
	<img src="picking_raspberries.jpg" alt="Picking raspberries at the farm" title="Picking raspberries at the farm" />
	<div class="overlay">
		<h2>Parents and teachers working together</h2>
		<p>
			We value the time and energy  parents spend to help us obtain the high quality we strive to maintain. Parents participate with special classroom projects, driving and supervision on field trips, producing written materials, building maintenance, acting as Board Members, organizing fund drives, and much more.
		</p>
		<a href="teachers" class="cta">Learn about our teachers</a>
	</div>
</section>