<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= @page_title %></title>
<link rel="stylesheet" href="styles.css">
</head>  
<body class="<%= @page_class %>">
<%= yield %>
</body>
</html>