<section class="staff">
	<img src="music.jpg" alt="Playing violin" title="Playing music" />
	<img src="reading.jpg" alt="Reading time" title="Reading time" />
	<img src="fascination.jpg" alt="Fascinated" title="Fascinated" />
	<img src="crafts.jpg" alt="making crafts" title="Making crafts" />
	<div class="next">
		<a href="curriculum" class="cta">Learn about curriculum enrichment</a>
		<p>
			&ldquo; It is the supreme art of the teacher to awaken joy in creative expression and knowledge. &rdquo;
		</p>
		<p class="author">
			Albert Einstein
		</p>
	</div>
	<div class="bio first">
		<h2>Our Teachers</h2>
		Our loving and caring teachers have Early Childhood Education backgrounds and degrees, as well as experience with young children. We also have a continuing education program for our teachers, so that they stay current with developments in our field and provide a source of inspiration and fellowship with other educators.
	</div>
	<div class="bio">
		<h2>Judith Nielsen</h2>
		<h3>Director</h3>
		<p>
			Judith has worked for over 30 years, in the U.S. and internationally, in the field of Early Childhood Education. She has taught, directed, and volunteered in a wide variety of culturally diverse, eclectic learning environments. Her commitment is to explore, educate, and lead in a way that inspires children and adults to continue growing toward their fullest potential. On a personal level, Judith loves to travel, camp, swim, garden, read, and listen to natural sounds in wild places; sing and laugh warmheartedly; sip steamy aromatic teas while enjoying stories and conversation with friends, old and new. She loves remaining in touch with her "old" students and has joyfully witnessed their celebrations of opportunities, graduations, weddings, and has begun heartfully cradling their beautiful babies in her arms, awed by the circle of life.
		</p>
	</div>
	<div class="bio">
		<h2>Trudy Lindloff</h2>
		<h3>Pre-K Teacher (4-5 year olds)</h3>
		<p>
			Trudy has been working with children for over 30 years. She has an AA in Child Development and has been working at SPCDC for 20 years. Her hobbies include sewing, cooking, traveling, and collecting angels. Trudy enjoys taking her class on field trips. They have gone to the Burke Museum, Pacific Science Center, Great Harvest Baking Company, and many other places.
		</p>
	</div>
	<div class="bio">
		<h2>Diana Edgar</h2>
		<h3>Young Pre-K Teacher (3 year olds)</h3>
		<p>
			Diana has an AA Degree in Early Childhood Education and has been teaching at SPCDC since 1973. The first eleven years she worked with the toddlers. Her hobbies include carpentry, gardening, bird watching, chocolate, and reading. She values the mountains, the silence of a forest, nature, the poems of Robert Frost, classical music, and the sense of humor and logic of anyone under the age of six. Diana is also in charge of the garden and helps the kids plant and harvest vegetables every year.
		</p>
	</div>
	<div class="bio">
		<h2>Chessie Snider</h2>
		<h3>Toddler Teacher (18 month - 2 year olds)</h3>
		<p>
			Chessie Snider graduated from the University of Washington with a Bachelors in Sociology studying Family Structure and is currently enrolled at North Seattle Community College studying Early Childhood Education and is attaining a Child Development Associates. She became enamored with toddlers and their development while living with and caring for her nephew one summer, who was 16 months old at the time. Finding bugs, going on walks, singing Twinkle Twinkle, dancing to alternative, and playing with cars became new past times and have been ever since. Outside of the classroom Chessie studies Spanish, takes lessons on the viola, paints, and volunteers at the Catherine Booth House. One day in elementary school her mom decided that if Chessie would keep her room clean that she could join the orchestra. Her grandma bought the instrument and everyone in the family was very patient with the new "prodigy" in the house. She shares her love of music everywhere she teaches.
		</p>
	</div>
	<div class="bio">
		<h2>Paul Cheever</h2>
		<h3>Afternoon Teacher</h3>
		<p>
			Paul began working in the childcare field in early 2009 and fell in love with it. When not at SPCDC he works as a music producer, composing music for albums, television, and film. Other interests include fostering cats, collecting records, traveling, watching documentaries, and playing table tennis. Paul also gives private music lessons and especially loves teaching kids how to beatbox.
		</p>
	</div>
	<div class="bio">
		<h2>Bre Carlow</h2> 
		<h3>Morning Teacher</h3>
		<p>
			Bre has worked with kids for five years. She currently attends North Seattle Community college and plays basketball there. Along with basketball she enjoys riding horses, being active in any sports, and hanging out in the sun. Her favorite thing about working at SPCDC is getting to know each child and watching them grow day by day into their own unique individual.
		</p>
	</div>
</section>